{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Login{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-pink offset-md-3">
                <div class="p-sm-5 p-2 rounded shadow bg-grey-inherit mt-sm-5 mb-sm-5 mt-2 mb-2">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes authentifié : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal text-center mt-3">Merci de vous authentifier</h1>
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                            <div class="checkbox mb-3 mt-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                </label>
                            </div>

                        <div class="text-center mt-2">
                            <button class="btn btn-lg btn-pink" type="submit">
                                Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
