{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Commande{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col mt-4 mb-4">
            <div class="p-2 bg-grey-inherit text-pink">
                <div class="text-center">
                    <h1>Commande : {{ order.invoice.payment.transactionUuid }}</h1>
                    <h2>Mode d'envoi : {{ order.mode == 1 ? 'Collissimo' : 'Récuperé sur place' }}</h2>
                </div>
                <table class="table table-striped mt-2 mb-2 text-pink">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Référence</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for item in order.invoice.line.values %}
                           <tr>
                               <th>{{ item.name }}</th>
                               <td>{{ item.ref }}</td>
                               <td>{{ item.quantity }}</td>
                               {% if order.status == 'En attente' %}
                                   <td class="text-warning">{{ order.status }}</td>
                               {% endif %}
                               {% if order.status == 'En cours de préparation' %}
                                   <td class="text-warning">{{ order.status }}</td>
                               {% endif %}
                               {% if order.status == 'Prête' or order.status == 'Expédié' %}
                                   <td class="text-success">{{ order.status }}</td>
                               {% endif %}
                               {% if order.status != 'Prête' and order.status != 'Expédié' %}
                                   <td>
                                       {{ form_start(form) }}
                                       {{ form_end(form) }}
                                   </td>
                               {% endif %}
                           </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}