{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ item.name }} {% endblock %}
{% block javascripts %}{{ parent() }} {{ encore_entry_script_tags('item') }}{% endblock %}

{% block body %}
    <div id="item" data-item="{{ item.id }}"></div>
{% endblock %}